.App {
  text-align: center;
}

.result{
  text-align: center;
  margin: auto;
  display: block;
}
img{
  text-align: center;
  display: block;
  margin: auto;
}

.name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 120px;
  font-weight: bold;
  color: red;
}
.price{
  display: block;
  margin-top: 40px;
}
.upload{
  width: 20%;
  margin: 0 auto 10px auto;
}
